:root{
  --hover-color: #286ac0;
}

HTML {
  background-color: #f6f6f6;
}

.App {
  text-align: center;
  color: #161616;
}

.portfolioStats {
  display: flex;
  flex-direction: row;
}

.clockHeader h2{
  padding-top: 10px;
  padding-bottom: 25px;
}

.sidebar {
  width: 20svw;
}

.tokenList {
  display: flex;
  flex-direction: column;

  list-style: none;

}

.tokenSlot {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100px;
  width: 200px;

  color: #161616;
  font-size: small;

  margin: 5px;

  border: 1px solid #161616;
  border-radius: 25px;
}

.tokenStats {
  display: flex;
  flex-direction: row;
}

.tokenSlot:hover {
  color: var(--hover-color);
  border: 1px solid var(--hover-color);
}

.tokenSlot div p {
  display: flex;
  flex-direction: row;
  align-items: start;
  justify-content: start;
}

.tokenSlot div p {
  margin-left: 10px;
  margin-right: 10px;
}

.portfolioHeader {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;

  width: 50svw;
}

.portfolioDisplay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: white;


  padding-left: 75px;
}